<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 用来找唯一的 Mapper 文件，一般是 domain 的全路径名 + Mapper -->
<mapper namespace="com.dims.mapper.NurseMapper">
	<!-- 登录 -->
	<select id="login" parameterType="User" resultType="Nurse">
		SELECT Nno, Nname, Nsex, Nage, Npwd
		FROM Nurse
		WHERE Nno = #{no} AND Npwd = #{pwd};
	</select>
	
	<!-- 查看药品库存列表 -->
	<select id="queryAllDrugs" resultType="Drug">
		SELECT d.PDno, d.PDname, d.PDlife, SUM(i.PDnum) AS PDnum
		FROM Drug d, InventoryDrug i
		WHERE d.PDno = i.PDno
		GROUP BY d.PDno, d.PDname, d.PDlife;
	</select>
	
	<!-- 查看某一药品的所有库存批次 -->
	<select id="queryAllPDbatches" parameterType="Drug" resultType="InventoryDrug">
		SELECT d.PDno, d.PDname, d.PDlife, i.PDbatch, i.PDnum, i.Sno, i.SAno, i.Stime
		FROM Drug d, InventoryDrug i
		WHERE d.PDno = i.PDno AND d.PDno = #{PDno};
	</select>
	
	<!-- 查看未处理处方列表 -->
	<select id="queryAllUnsolvedRxs" resultType="Prescription">
		SELECT p.Pno, p.Pid, p.Dno, p.Ptime, p.Nno, p.Htime, p.Pstate
		FROM Prescription p
		WHERE p.Pstate = 0;
	</select>
	
	<!-- 查看已处理处方列表 -->
	<select id="queryAllSolvedRxs" resultType="Prescription">
		SELECT p.Pno, p.Pid, p.Dno, p.Ptime, p.Nno, p.Htime, p.Pstate
		FROM Prescription p
		WHERE p.Pstate = 1;
	</select>
	
	<!-- 查看某一处方包含的所有药品 -->
	<select id="queryAllContainedDrugs" parameterType="Prescription" resultType="Drug">
		SELECT PID.PDno, PID.PDnum
		FROM Prescription p, PID
		WHERE p.Pno = PID.Pno AND p.Pno = #{Pno};
	</select>
	
	<!-- 修改登陆密码 -->
	<update id="changeNpwd">
		UPDATE Nurse
		SET Npwd = #{arg0}
		WHERE Nno = #{arg1};
	</update>
</mapper>
